@font-face {
  font-family: 'alien_encountersregular';
  src: url('/assets/alien-encounters-regular-webfont.woff2') format('woff2'),
       url('/assets/alien-encounters-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'neon_retro';
  src: url('/assets/neonretrodemoversionregular-rgpdx-webfont.woff2') format('woff2'),
       url('/assets/neonretrodemoversionregular-rgpdx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
