:host {
  @apply block md:p-3 2xl:py-12 2xl:px-2 h-full relative;
}

.title--purple {
  -webkit-text-stroke: 3px theme('colors.purple');
  --text-shadow: 0 0 10px theme('colors.purple');
}

.title--blue {
  -webkit-text-stroke: 3px theme('colors.blue-light');
  /* text-shadow: 0 0 10px theme('colors.blue-light'); */
  --text-shadow: 0 0 10px theme('colors.blue-light');
}

.subtitle {
  @apply text-pink;
  text-shadow: 0 0 5px theme('colors.pink');
}

.profile {
  box-shadow: 4px 4px 0 theme('colors.purple'), -4px -4px 0 theme('colors.blue-light');
}

.frame:before, .frame:after {
  @apply content-[''] w-full border-blue h-10 border-x-2 absolute bottom-0;

}

.frame:before {
  @apply top-0 border-t-2;
  --translate-from: 0, 100%;
  animation: translate 0.3s ease-out forwards;
}

.frame:after {
  @apply bottom-0 border-b-2;
  --translate-from: 0, -100%;
  animation: translate 0.3s ease-out forwards;
}

@keyframes text-shadow-pulse {
  0% {
    text-shadow: var(--text-shadow);
  }
  100% {
    text-shadow: 0 0;
  }
}

@keyframes translate {
  0% {
    transform: translate(var(--translate-from))
  }
  100% {
    transform: translate(0);
  }
}
