<div class="px-5">
  <div class="my-6">
    <h2 class="title--purple my-1 text-7xl font-bold uppercase">
      <div class="text-left whitespace-nowrap">
        <span class="text-purple-dark">
          Artem
        </span>
        <div class="inline-block overflow-hidden w-60 mx-20 drop-shadow-[4px_4px_0_rgb(234,103,255)]">
          <img src="/assets/avatar.jpg" class="w-full" alt="">
        </div>
      </div>
      <div class="text-right">
        <span class="title--blue text-blue-dark text-right">
          Anashchenkov
        </span>
      </div>
    </h2>
    <h3 class="font-alienencounter text-pink-500 my-1 font-yellowtail text-5xl text-pink text-right mr-24">
      Programmer
    </h3>
  </div>
</div>

<div class="pr-16 pl-4 py-16">
  <p class="mt-6 mb-24 text-left text-2xl text-blue-light">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, libero? Dicta tempore dolor suscipit culpa velit alias unde vitae dolores quibusdam. Dignissimos a ab adipisci necessitatibus animi architecto ipsa sunt aspernatur dicta doloremque perspiciatis, porro et consequuntur hic quae obcaecati.
  </p>

  <a href="/assets/artem_anashchenkov_dev_ua.pdf" download class="inline-block border-2 border-purple text-purple text-5xl px-24 pt-0.5 pb-2 transition-colors hover:bg-purple hover:text-blue-light">cv</a>
</div>


